.register__input {
    outline: none;
    border: none;
    outline: none;
    margin: 0 0 30px 0;
    background-color: #000;
    border-bottom: 2px solid #cccccc;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    padding: 0 0 13px 0;
    color: #CCCCCC;
    width: 100%;
    max-width: 360px;
}