.register__button {
    margin: 186px 0 15px 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    font-family: Inter, 'Arial', 'Helvetica';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    background-color: #fff;
    padding: 14px 0 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    transition: opacity .5s linear;
}
.register__button:hover {
    opacity: 0.6;
}