.header__text {
  color: #fff;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: Inter, "Arial", "Helvetica";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: #fff;
  margin: 51px 0 46px 0;
  padding: 0;
  transition: opacity 0.5s linear;
}
.header__text:hover {
  opacity: 0.6;
}
